<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Charts / Chart.js - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end fixed-top mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://mpng.subpng.com/20190216/k/kisspng-carnegie-mellon-university-advanced-database-syste-project-2-concurrent-index-cmu-15-721-adva-5c68a8fdf135a9.916348971550362877988.jpg"
                    alt="Logo" style="width: 40px;" class="rounded-pill nav-link bi bi-list toggle-sidebar-btn">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" style="white-space: nowrap;">
                        <a class="nav-link" href="/about">About us</a>
                    </li>
                    <li class="nav-item" style="white-space: nowrap;">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <% if (role==="admin" ) { %>
                        <li class="nav-item" style="white-space: nowrap;">
                            <a class="nav-link" href="/compose">Add tutorial</a>
                        </li>
                        <li class="nav-item" style="white-space: nowrap;">
                            <a class="nav-link" href="/systemusers">Users</a>
                        </li>
                    <% } else if (role==="editor") {%>
                        <li class="nav-item" style="white-space: nowrap;">
                            <a class="nav-link" href="/compose">Add tutorial</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" href="/courses">
                    <i class="bi bi-grid"></i>
                    <span><%= requestedCourse %></span>
                </a>
            </li>
            <% posts.contents.forEach(function(heading) { %>
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#<%= heading.headingName %>-nav" data-bs-toggle="collapse"
                        href="#">
                        <i class="bi bi-book-fill"></i>
                        <span>
                            <%= heading.headingName %>
                        </span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="<%= heading.headingName %>-nav" class="nav-content collapse">
                        <% heading.heading.headingContents.forEach(element=> { %>
                            <li>
                                <a href="/courses/<%= posts.title %>/<%= heading.headingName %>/<%= element.subtitle %>">
                                    <i class="bi bi-circle"></i>
                                    <span>
                                        <%= element.subtitle %>
                                    </span>
                                </a>
                            </li>
                            <% }); %>
                    </ul>
                </li>
                <% }); %>
                    <% if (role) { %>
                        <li class="nav-heading mt-5">Pages</li>
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="http://localhost:3000/logout">
                                <i class="bi bi-arrow-right-square"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                        <% } %>
        </ul>
    </aside>

    


    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

</body>

</html>